<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | Jacen Sekai</title>

    <meta property="og:title" content="{{ title }} | Jacen Sekai" />
    <meta property="og:description" content="{{ page.excerpt | formatExcerpt}}" />
    <meta property="og:image" content="https://jacen.moe/img/you.png" />
    <meta property="og:url" content="https://jacen.moe{{ page.url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Jacen Sekai" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@jacenboy" />
    <meta property="twitter:image" content="https://jacen.moe/img/you.png" />

    <link rel="me" href="https://mastodon.jacen.moe/@jacenboy" />
    <meta name="fediverse:creator" content="@jacenboy@mastodon.jacen.moe">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/prism-material-dark.css">
    <link rel="stylesheet" href="/styles/overrides.css">

    {% include "analytics.html" %}
  </head>
  <body class="bg-dark text-light">
    {% include "navbar.html" %}

    <main>
      <div class="container mb-4">
        {% if tags contains "blog" %}
        <p class="display-6 text-center">Jacen's Blog</p>
        {% endif %}
        {% if tags contains "rant" %}
        <p class="display-6 text-center">Jacen's Rants</p>
        {% endif %}
        <h1 class="text-center">{{ title }}</h1>
        <p class="text-center lead">{{ date | toLocalTime }}</p>
        <hr />
        {{ content }}
      </div>
    </main>
    <div class="container">
      {% include "comments.html" %}
    </div>
    {% include "footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
  </body>
</html>