a {
  color: #0dcaf0;
  
}

a:hover {
  color: #0dcaf0;
  opacity: 0.4;
}

img {
  max-width: 100%;
  max-height: 70vh;
}

code {
  background: rgba(0, 0, 0, 0.4);
  padding: 0.2rem 0.25rem;
  border-radius: 5px;
}

pre {
  overflow: auto;
  position: relative;
  margin: 0.5em 0;
  padding: 1.25em 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  color: #eee;
  background: #2f2f2f;
  font-family: Roboto Mono, monospace;
  font-size: 1em;
  line-height: 1.5em;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre code {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  color: #eee;
  background: #2f2f2f;
  font-family: Roboto Mono, monospace;
  font-size: 1em;
  line-height: 1.5em;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  display: inline-block;
  margin-right: 1em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 3rem;
  margin-bottom: 0.75rem;
}

.post-title-link {
  text-decoration: none;
}

.blockquote {
  border-left: 4px solid #f8f9fa;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-left: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.mt-container {
  max-height: 75vh;
}

img.profile {
  max-width: 80px;
  max-height: 80px;
}

.card-title, .card-subtitle {
  margin-top: 0;
}

.social-icon {
  width: 80px;
}

.header-image-link img {
  object-fit: cover;
}

.header-image-link:hover {
  opacity: 1;
}

.alert-heading {
  margin-top: 0;
}
